* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
  }
  
  .register {
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .fa-square-xmark {
    color: #b32456;
    font-size: 1.5rem;
  }
  
  .wrapper {
    display: flex;
    gap: 1rem;
  }
  
  .left,
  .right {
    width: 50%;
  }
  
  .label p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  
  .phone,
  .email {
    margin-bottom: 1rem;
  }
  
  .phoneinput,
  .emailinput {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
  }
  
  .right {
    margin-left: 1rem;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  
  .buttons p {
    font-size: 14px;
    color:blue;
    margin-bottom: 1rem;
  }
  
  .buttons p a {
    color:red;
    text-decoration: underline;
    font-weight: 700;
  }
  
  .buttons p a:hover {
    color: #345eca;
    text-decoration: underline;
  }
  
  .add {
    padding: 0.75rem 1.5rem;
    background: #3a52c9;
    border-radius: 4px;
    color: #ffffff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
  }
  
  .photo {
    margin-top: 2rem;
    width: 100%;
  }
  
  .photo img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  /* Profile Image Circle */
  .preview-image-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
  }
  
  /* Modal Styles */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    position: relative;
    max-width: 80%;
    max-height: 80%;
  }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
 
  